.row{
    align-content: center;
}

[class*="col"]{
    border: 1px solid black;
    background-color: pink;
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}

[class*="col"] > .row{
    height: 100%;
}

[class*="col"] > .row > [class*="col"]{
    background-color: salmon;
    border: 1px solid white;
    height: 100%;
}

.text-center{
    display: flex;
    justify-content: center;
    align-items: center ;
}


